
@import "../_options.styl"

html, body
  margin 0
  size 100%

header
  color white
  background green
  position fixed
  size 100% header-height
  box-sizing border-box
  z-index 100000

content
  position relative
  display block
  min-height 100%
  padding-top header-height
  box-sizing border-box
  color black

