
span.title(data-bind="text:name")
tf-pager(params="source:rows,start:start,end:end")
a.save(data-bind="click:save") Export Data
span.name(data-bind="text:model().name")
// ko if:table != "fit"
a.clear(data-bind="click:clear") Clear Data
// /ko
table.grid
  thead
    tr
      th
        //- empty for row numbers
      // ko foreach: cols
      th(data-bind="css:{dependent:$index() === $parent.dependent()}")
        // ko if:name
        span(data-bind="text:name")
        // /ko
        // ko ifnot:name
        span.placeholder
          span X
          sub(data-bind="text:$index")
        // /ko
        tf-dropdown(params="shallow:1,align:'right'")
          span.mark(data-bind="click:function(){dependent($index())}")
            | Mark as Dependant
          span.mark(data-bind="click:function(){histogram($index())}")
            | Histogram
          span.mark(data-bind="click:function(){exponent_col($index())}")
            | Exponent
      // /ko
    
      // ko if: extra
      th.dep Dependent
      th.prd Predicted
      th.err Residual
      // /ko
  tbody
    // ko iter:{from:start,to:end}
    tr
      td.static
        span(data-bind="text:1+index")
      
      // ko foreach: $parent.rows()[index]
      td
        // ko if: $data !== null && $data !== ""
        span(data-bind="text:$data")
        // /ko
        // ko if: $data === null || $data === ""
        span.placeholder No Data
        // /ko
      // /ko
      // ko if:$parent.extra
      // ko foreach: $parent.extra()[index]
      td
        span(data-bind="float:$data")
      // /ko
      // /ko
      
    //-
      // ko if:$parent.results
      // ko with:{dep:$data[$parent.dependent()], pred:(r = $parent.results()) ? r.predicted[$index()] : null}
      td.dep(data-bind="float:dep")
      td.prd(data-bind="float:pred")
      td.ere(data-bind="float:dep-pred")
      // /ko
      // /ko
    // /ko
