
.input-bar
  input#input-csv(type="file" accept=".csv" data-bind="value:csv_file" hidden)
  label.button(for="input-csv") Import CSV
  label.button(data-bind="click:save") Export CSV
.table-wrapper
  table.grid
    thead
      tr
        th
          //- empty for row numbers
        // ko foreach: cols
        th
          input(data-bind="value:name")
          label.placeholder(data-bind="if:name() === ''")
            span X
            sub(data-bind="text:$index")
          tf-dropdown(params="shallow:1,align:'right'")
            span.insert(data-bind="click:function(){cols.insert($index())}")
              | Insert Column Before
            span.insert(data-bind="click:function(){cols.insert($index()+1)}")
              | Insert Column After
            span.remove.sep(data-bind="click:function(){cols.remove($index())}")
              | Remove Column
        // /ko
        th.add(data-bind="click:cols.add")
          a.fa.fa-plus
    tbody
      // ko foreach: rows
      tr
        td.static
          span(data-bind="text:1+$index()")
          tf-dropdown(params="shallow:1,align:'left'")
            span.insert(data-bind="click:function(){rows.insert($index())}")
              | Insert Row Before
            span.insert(data-bind="click:function(){rows.insert($index()+1)}")
              | Insert Row After
            span.remove(data-bind="click:function(){rows.remove($index())}")
              | Remove Row
        // ko foreach: $rawData
        td
          input(data-bind="value:$rawData")
          label.placeholder(data-bind="if:$rawData() === undefined") No Data
        // /ko
      // /ko
      tr
        td.add(data-bind="click:rows.add")
          a.fa.fa-plus

