
tf-grid
  input
    padding 6px 10px
    font-size 12pt
  table
    th .placeholder
      font-family "Cookie"
    td .placeholder
      color #CCC
    .add
      padding 6px 10px 4px
      background green
      color white
      text-align center
      cursor pointer
    th.add
      border-top-right-radius 10px
      border-bottom-right-radius 10px
    td.add
      border-bottom-left-radius 10px
      border-bottom-right-radius 10px
    th
      position relative




