span.title(data-bind="text:name")
tf-pager(params="source:rows,start:start,end:end" title="Choose page from this Table")
a.save(data-bind="click:save" title="Create CSV file with all columns from this Table") Export Data
// ko if:table == "fit"
//div.button(data-bind="click:show_partition" title="replace data") replace data
span.name(data-bind="text:model().name")
tf-replace(params="model:model,table:'fit'", title="Replace current data with new data. Ensure new data has same number of columns. Model coefficients will be updated, but terms will not change. This feature can be used to fit the current model to all data combined as final step in regression.")
// /ko
// ko if:table == "cross"
span.name(data-bind="text:model().name_cross")
tf-replace(params="model:model,table:'cross'", title="Replace current data with new data. Ensure new data has same number of columns. Model coefficients will be updated, but terms will not change. This feature can be used to fit the current model to all data combined as final step in regression.")
a.clear(data-bind="click:clear" title="Delete this Data Table (Cross or Validation Tables only)") Clear Data
// /ko
// ko if:table == "validation"
span.name(data-bind="text:model().name_validation")
tf-replace(params="model:model,table:'validation'", title="Replace current data with new data. Ensure new data has same number of columns. Model coefficients will be updated, but terms will not change. This feature can be used to fit the current model to all data combined as final step in regression.")
a.clear(data-bind="click:clear" title="Delete this Data Table (Cross or Validation Tables only)") Clear Data
// /ko
table.grid
  thead
    tr
      th
        //- empty for row numbers
      // ko foreach: cols
      th(data-bind="style:{background: $component.isHidden($index()) ? '#DCDCDC' : '#FFFFFF'},css:{dependent:$index() === $parent.dependent()}")
        // ko if:name
        span(data-bind="text:name")
        // /ko
        // ko ifnot:name
        span.placeholder
          span X
          sub(data-bind="text:$index")
        // /ko
        tf-dropdown(params="shallow:1,align:'left'")
          span.mark(data-bind="click:function(){dependent($index())}")
            | Mark as Dependant
          span.mark(data-bind="click:function(){histogram($index())}")
            | Histogram
          span.mark(data-bind="click:function(){cumulative_distribution($index())}")
            | Cumulative Distribution
          span.mark(data-bind="click:function(){autocorrelation($index())}")
            | Autocorrelation
          span.mark(data-bind="click:function(){qqplot($index())}")
            | QQ Plot
          span.mark(data-bind="click:function(){xyplot($index() + 1)}")
            | XY Plot
          // ko  // ifnot: istimeseries()
          // ko ifnot: hasSensitivity($index())
          span.mark(data-bind="click:function(){sensitivity($index())}")
            | Show Sensitivity
          // /ko
          // ko ifnot: hasImportanceRatio($index())
          span.mark(data-bind="click:function(){importanceRatio($index())}")
            | Show Importance Ratio
          // /ko
          // ko if: hasSensitivity($index())
          span.mark(data-bind="click:function(){deleteSensitivity($index(),'column')}")
            | Hide Sensitivity
          // /ko
          // ko if: hasImportanceRatio($index())
          span.mark(data-bind="click:function(){deleteImportanceRatio($index(),'column')}")
            | Hide Importance Ratio
          // /ko
          // /ko
          // ko if: table == "fit" && $index() !== dependent() && !isHidden($index())
          span.mark(data-bind="click:function(){showHideColumn(true, $index())}")
            | Ignore Column
          // /ko
          // ko if: table == "fit" && $index() !== dependent() && isHidden($index())
          span.mark(data-bind="click:function(){showHideColumn(false, $index())}")
            | Show Column
          // /ko
          // ko if: table == "fit" && !isHidden($index())
          span.mark(data-bind="click:function(){showTransformColumn($index())}")
            | Transform Column
          // /ko
          // ko if: table == "fit" && $index() !== dependent() && canDeleteTransformColumn($index())
          span.mark(data-bind="click:function(){deleteTransformColumn($index())}")
            | Delete Transform Column
          // /ko
      // /ko
      // ko if: extra
      th.dep
        span Dependent
        tf-dropdown(params="align:'right'")
          span.mark(data-bind="click:function(){histogram('Dependent')}")
            | Histogram
          span.mark(data-bind="click:function(){cumulative_distribution('Dependent')}")
            | Cumulative Distribution
          span.mark(data-bind="click:function(){autocorrelation('Dependent')}")
            | Autocorrelation
          span.mark(data-bind="click:function(){qqplot('Dependent')}")
            | QQ Plot
          span.mark(data-bind="click:function(){xyplot('Dependent')}")
            | XY Plot
      th.prd
        span Predicted
        tf-dropdown(params="align:'right'")
          span.mark(data-bind="click:function(){histogram('Predicted')}")
            | Histogram
          span.mark(data-bind="click:function(){cumulative_distribution('Predicted')}")
            | Cumulative Distribution
          span.mark(data-bind="click:function(){autocorrelation('Predicted')}")
            | Autocorrelation
          span.mark(data-bind="click:function(){qqplot('Predicted')}")
            | QQ Plot
          span.mark(data-bind="click:function(){xyplot('Predicted')}")
            | XY Plot
      th.err
        span Residual
        tf-dropdown(params="align:'right'")
          span.mark(data-bind="click:function(){histogram('Residual')}")
            | Histogram
          span.mark(data-bind="click:function(){cumulative_distribution('Residual')}")
            | Cumulative Distribution
          span.mark(data-bind="click:function(){autocorrelation('Residual')}")
            | Autocorrelation
          span.mark(data-bind="click:function(){qqplot('Residual')}")
            | QQ Plot
          span.mark(data-bind="click:function(){xyplot('Residual')}")
            | XY Plot
      // /ko
      // ko foreach: sensitivityColumns
      th
        span Sens.&nbsp;
        // ko if:name
        span(data-bind="text:name")
        // /ko
        // ko ifnot:name
        span.placeholder
          span X
          sub(data-bind="text:index")
        // /ko
        tf-dropdown(params="shallow:1,align:'right'")
          span.mark(data-bind="click:function(){histogram_statistic($index(), 'sensitivity')}")
            | Histogram
          span.mark(data-bind="click:function(){cumulative_distribution_statistic($index(), 'sensitivity')}")
            | Cumulative Distribution
          span.mark(data-bind="click:function(){autocorrelation_statistic($index(), 'sensitivity')}")
            | Autocorrelation
          span.mark(data-bind="click:function(){qqplot_statistic($index(), 'sensitivity')}")
            | QQ Plot
          span.mark(data-bind="click:function(){xyplot_statistic($index(), 'sensitivity')}")
            | XY Plot
          span.mark(data-bind="click:function(){deleteSensitivity($index(),'sensitivity')}")
            | Hide Sensitivity
      // /ko
      // ko foreach: importanceRatioColumns
      th
        span IR &nbsp;
        // ko if:name
        span(data-bind="text:name")
        // /ko
        // ko ifnot:name
        span.placeholder
          span X
          sub(data-bind="text:index")
        // /ko
        tf-dropdown(params="shallow:1,align:'right'")
          span.mark(data-bind="click:function(){histogram_statistic($index(), 'importanceRatio')}")
            | Histogram
          span.mark(data-bind="click:function(){cumulative_distribution_statistic($index(), 'importanceRatio')}")
            | Cumulative Distribution
          span.mark(data-bind="click:function(){autocorrelation_statistic($index(), 'importanceRatio')}")
            | Autocorrelation
          span.mark(data-bind="click:function(){qqplot_statistic($index(), 'importanceRatio')}")
            | QQ Plot
          span.mark(data-bind="click:function(){xyplot_statistic($index(), 'importanceRatio')}")
            | XY Plot
          span.mark(data-bind="click:function(){deleteImportanceRatio($index(),'importanceRatio')}")
            | Hide Importance Ratio
      // /ko
  //- div.toggle Toggle Fundamental Statistics
  //- tf-dropdown(params="")
  //-   // ko if: !hasMean()
  //-   span.mark(data-bind="click:function(){flipMean()}")
  //-     | Show Mean
  //-   // /ko
  //-   // ko if: hasMean()
  //-   span.mark(data-bind="click:function(){flipMean()}")
  //-     | Hide Mean
  //-   span.mark(data-bind="text:toggleMean")
  //-   // /ko
  tbody
    // ko if: hasMean()
    tr.stat
      td.static.stat(title="Mean") Mean

      // ko foreach: mean()
      td.stat(data-bind="style:{background: $component.isHidden($index()) ? '#DCDCDC' : '#f2f2f2'}")
        //ko if: ($data !== null && $data !== "" && $data !== 0)
        span(data-bind="text:$component.round_cell($data)")
        // /ko
        // ko if: ($data === null || $data === "" || $data === 0)
        span.placeholder No Data
        // /ko
      // /ko
    // /ko
    // ko if: toggle
    tr.stat
      td.static.stat(title="Standard Deviation") SD

      // ko foreach: sd()
      td.stat(data-bind="style:{background: $component.isHidden($index()) ? '#DCDCDC' : '#f2f2f2'}")
        //ko if: ($data !== null && $data !== "" && $data !== 0)
        span(data-bind="text:$component.round_cell($data)")
        // /ko
        // ko if: ($data === null || $data === "" || $data === 0)
        span.placeholder No Data
        // /ko
      // /ko
    // /ko
    // ko if: toggle
    tr.stat
      td.static.stat(title="Root Mean Square") RMS

      // ko foreach: rms()
      td.stat(data-bind="style:{background: $component.isHidden($index()) ? '#DCDCDC' : '#f2f2f2'}")
        //ko if: ($data !== null && $data !== "" && $data !== 0)
        span(data-bind="text:$component.round_cell($data)")
        // /ko
        // ko if: ($data === null || $data === "" || $data === 0)
        span.placeholder No Data
        // /ko
      // /ko
    // /ko
    //ko if: toggle
    tr.stat
      td.static.stat(title="Minimum") Min

      // ko foreach: min()
      td.stat(data-bind="style:{background: $component.isHidden($index()) ? '#DCDCDC' : '#f2f2f2'}")
        //ko if: ($data !== null && $data !== "" && $data !== 0)
        span(data-bind="text:$component.round_cell($data)")
        // /ko
        // ko if: ($data === null || $data === "" || $data === 0)
        span.placeholder No Data
        // /ko
      // /ko
    // /ko
    //ko if: toggle
    tr.stat
      td.static.stat(title="First Quartile") 25%

      // ko foreach: firstQuartile()
      td.stat(data-bind="style:{background: $component.isHidden($index()) ? '#DCDCDC' : '#f2f2f2'}")
        //ko if: ($data !== null && $data !== "" && $data !== 0)
        span(data-bind="text:$component.round_cell($data)")
        // /ko
        // ko if: ($data === null || $data === "" || $data === 0)
        span.placeholder No Data
        // /ko
      // /ko
    // /ko
    //ko if: toggle
    tr.stat
      td.static.stat(title="Median") Med

      // ko foreach: med()
      td.stat(data-bind="style:{background: $component.isHidden($index()) ? '#DCDCDC' : '#f2f2f2'}")
        //ko if: ($data !== null && $data !== "" && $data !== 0)
        span(data-bind="text:$component.round_cell($data)")
        // /ko
        // ko if: ($data === null || $data === "" || $data === 0)
        span.placeholder No Data
        // /ko
      // /ko
    // /ko
    //ko if: toggle
    tr.stat
      td.static.stat(title="Third Quartile") 75%

      // ko foreach: thirdQuartile()
      td.stat(data-bind="style:{background: $component.isHidden($index()) ? '#DCDCDC' : '#f2f2f2'}")
        //ko if: ($data !== null && $data !== "" && $data !== 0)
        span(data-bind="text:$component.round_cell($data)")
        // /ko
        // ko if: ($data === null || $data === "" || $data === 0)
        span.placeholder No Data
        // /ko
      // /ko
    // /ko
    //ko if: toggle
    tr.stat
      td.static.stat(title="Maximum") Max

      // ko foreach: max()
      td.stat(data-bind="style:{background: $component.isHidden($index()) ? '#DCDCDC' : '#f2f2f2'}")
        //ko if: ($data !== null && $data !== "" && $data !== 0)
        span(data-bind="text:$component.round_cell($data)")
        // /ko
        // ko if: ($data === null || $data === "" || $data === 0)
        span.placeholder No Data
        // /ko
      // /ko
    // /ko
    // ko iter:{from:start,to:end}
    tr
      td.static
        span(data-bind="text:1+index")
        //- tf-dropdown.row_header(params="align:'left'")
        //-   span.mark(data-bind="click:function(){partitionData($index())}")
        //-     | Row Partition
      // ko foreach: $parent.rows()[index]
      td(data-bind="style:{background: $component.isHidden($index()) ? '#DCDCDC' : '#FFFFFF'}")
        // ko if: $component.is_k_order_diff($component.cols()[$index()], $parent.index) && $data !== null && $data !== "" && $data !== 0
        span(data-bind="text:$component.round_cell($data)")
        // /ko
        // ko if: $component.is_k_order_diff($component.cols()[$index()], $parent.index) && ($data === null || $data === "" || $data === 0)
        span.placeholder No Data
        // /ko
        // ko if: !$component.is_k_order_diff($component.cols()[$index()], $parent.index) && $data !== null && $data !== ""
        span(data-bind="text:$component.round_cell($data)")
        // /ko
        // ko if: !$component.is_k_order_diff($component.cols()[$index()], $parent.index) && ($data === null || $data === "")
        span.placeholder No Data
        // /ko
      // /ko
      // ko if:$parent.extra
      // ko foreach: $parent.extra()[index]
      td
        span(data-bind="float:$data")
      // /ko
      // /ko
      //- Display Sensitivity Statistic
      // ko foreach:$parent.sensitivityData
      td
        span(data-bind="float:$data[$parent.index]")
      // /ko
      //- Display Importance Ratio Statistic
      // ko foreach:$parent.importanceRatioData
      td
        span(data-bind="float:$data[$parent.index]")
      // /ko
    //-
      // ko if:$parent.results
      // ko with:{dep:$data[$parent.dependent()], pred:(r = $parent.results()) ? r.predicted[$index()] : null}
      td.dep(data-bind="float:dep")
      td.prd(data-bind="float:pred")
      td.ere(data-bind="float:dep-pred")
      // /ko
      // /ko
    // /ko
