
.input-bar
  input#input-csv(type="file" accept=".csv" data-bind="value:csv_file" hidden)
  label.button(for="input-csv") Import
  label.button(data-bind="click:save") Export
.table-wrapper
  table.grid
    thead
      tr
        th
          //- empty for row numbers
        // ko foreach: cols
        th(data-bind="css:{dependant:$index() === $parent.dependant()}")
          //-input(data-bind="value:name")
          // ko if:name
          span(data-bind="text:name")
          // /ko
          span.placeholder(data-bind="ifnot:name")
            span X
            sub(data-bind="text:$index")
          tf-dropdown(params="shallow:1,align:'right'")
            span.mark(data-bind="click:function(){dependant($index())}")
              | Mark as Dependant
            //-span.insert.sep(data-bind="click:function(){cols.ins($index())}")
              | Insert Column Before
            //-span.insert(data-bind="click:function(){cols.ins($index()+1)}")
              | Insert Column After
            span.remove.sep(data-bind="click:function(){cols.del($index())}")
              | Remove Column
        // /ko
        //th.add(data-bind="click:cols.add")
        //  a.fa.fa-plus
    tbody(data-bind="event:{mousewheel:scroll}")
      // ko foreach: rows()
      // ko if:$parent.location() <= $index() && $index() < $parent.location() + $parent.pagesize()
      tr
        td.static
          span(data-bind="text:1+$index()")
          tf-dropdown(params="shallow:1,align:'left'")
            //-span.insert(data-bind="click:function(){rows.ins($index())}")
              | Insert Row Before
            //-span.insert(data-bind="click:function(){rows.ins($index()+1)}")
              | Insert Row After
            span.remove.sep(data-bind="click:function(){rows.del($index())}")
              | Remove Row
        // ko foreach: $data
        td
          // ko if: $data != null
          span(data-bind="text:$data")
          // /ko
          span.placeholder(data-bind="if:$data == null") No Data
        // /ko
      // /ko
      // /ko
      //-tr
        td.add(data-bind="click:rows.add")
          a.fa.fa-plus

