
span.title(data-bind="text:name")
tf-pager(params="source:rows,result:result,start:start")
a.save(data-bind="click:save") Export Data
// ko if:table != "fit"
a.clear(data-bind="click:clear") Clear Data
// /ko
table.grid
  thead
    tr
      th
        //- empty for row numbers
      // ko foreach: cols
      th(data-bind="css:{dependent:$index() === $parent.dependent()}")
        // ko if:name
        span(data-bind="text:name")
        // /ko
        // ko ifnot:name
        span.placeholder
          span X
          sub(data-bind="text:$index")
        // /ko
        tf-dropdown(params="shallow:1,align:'right'")
          span.mark(data-bind="click:function(){dependent($index())}")
            | Mark as Dependant
      // /ko
      // ko if:results
      th.dep Dependent
      th.prd Predicted
      th.err Residual
      // /ko
  tbody
    // ko foreach:result
    tr
      td.static
        span(data-bind="text:1+$parent.start()+$index()")
      // ko foreach: $data
      td
        // ko if: $data !== null && $data !== ""
        span(data-bind="float:$data")
        // /ko
        // ko if: $data === null || $data === ""
        span.placeholder No Data
        // /ko
      // /ko
      // ko if:$parent.results
      // ko with:{dep:$data[$parent.dependent()], pred:(r = $parent.results()) ? r.predicted[$index()] : null}
      td.dep(data-bind="float:dep")
      td.prd(data-bind="float:pred")
      td.ere(data-bind="float:dep-pred")
      // /ko
      // /ko
    // /ko

