
span.title(data-bind="text:name")
tf-pager(params="source:rows,result:result,start:start")
table.grid
  thead
    tr
      th
        //- empty for row numbers
      // ko foreach: cols
      th(data-bind="css:{dependent:$index() === $parent.dependent()}")
        // ko if:name
        span(data-bind="text:name")
        // /ko
        // ko ifnot:name
        span.placeholder
          span X
          sub(data-bind="text:$index")
        // /ko
        tf-dropdown(params="shallow:1,align:'right'")
          span.mark(data-bind="click:function(){dependent($index())}")
            | Mark as Dependant
      // ko if:$index() === $parent.dependent()
      th.predicted Predicted
      th.error Error
      // /ko
      // /ko
  tbody
    // ko foreach:result
    // ko with:{row:$index, root:$parent, data:$data, pred:$parent.results().predicted[$index()]}
    tr
      td.static
        span(data-bind="text:1+root.start()+row()")
      // ko foreach: data
      td
        // ko if: $data !== null && $data !== ""
        span(data-bind="float:$data")
        // /ko
        // ko if: $data === null || $data === ""
        span.placeholder No Data
        // /ko
      // ko if:$index() === $parent.root.dependent()
      td.predicted(data-bind="float:$parent.pred")
      td.error(data-bind="float:$data-$parent.pred")
      // /ko
      // /ko
    // /ko
    // /ko

