tf-graph
  font-size 12pt
  margin 10px
  width 500px
  height 200px
  display inline-block

  .c3
    svg
      overflow visible !important

    .c3-axis
      clip-path unset !important

    path, line
      fill none
      stroke black

    .c3-legend-background
      display none

    .c3-tooltip-container
      background white
      padding 2px 4px
      box-shadow 0 0 0 1px rgba(black, 0.3)
      border-radius 3px
      position relative
      transform translateX(-20px)
    