

header
  span.title(data-bind="text:name")
//- TODO: replace with each binding
// ko foreach: _.entries(values)
div.option
  label(data-bind="text:$data[0]")
  a.checkbox(data-bind="css:{active:$data[1]()},event:{click:$parent.toggle}")
// /ko

