
@import "./_color"
@import 'https://fonts.googleapis.com/css?family=Muli';

// --- reset

html, body, ul
  margin 0
  padding 0
*
  transition all 300ms
hr
  border 1px solid white
  background-color white
  color white

body
  background bg
  color fg
  font-family Muli
  font-size 12pt
  max-width 600px

.small
  font-size 0.8em
  color grey
.big
  font-size 1.2em
  font-weight bold
  margin 12px

.button
  background green
  border-radius 5px
  font-size 10pt
  padding 2px 6px
  cursor pointer
  color #FFF
  display inline-block
  margin 10px
  &.warning
    background red

.right
  float right
.space
  margin 0 10px

// --- sections

section.section
  padding 15px 30px 15px 80px
  position relative
  header
    font-size 16pt
    padding-bottom 12px
    span
      margin-right 12px
  &:before
  &:after
    content ""
    display block
    height 100%
    position absolute
    top 0
  &:before
    width 60px
    background white
    left 0
    z-index -1
  &:after
    width 4px
    background lighten(grey, 40%)
    left 28px
    z-index -1
  .help
  .suggest
    position absolute
    left 15px
    border-radius 100%
    font-weight bold
    font-size 16pt
    background #FFF
    box-sizing border-box
    width 30px
    height 30px
    margin-top -15px
    box-shadow 0 0 0 2px lighten(grey, 40%)
    cursor pointer
  .help
    color blue
    padding 2px 9px
    &:before
      content "?"
    &:hover
      color white
      background blue
  .suggest
    color orange
    padding 2px 11px
    &:before
      content "!"
    &:hover
      color white
      background orange


// --- tables

table
  border-collapse collapse
  overflow hidden
  border-radius 5px
  box-shadow 0 0 0 2px white
  font-size 10pt
  cursor pointer
  text-align right
  width 100%
  td, th
    box-shadow 2px 2px white
    padding 4px 10px
    &.selected
      box-shadow 0 2px green, 2px 2px white
  tbody
    tr:nth-child(2n)
      background lighten(white, 50%)
    tr:hover
      background lighten(green, 70%)
    td:hover
      background lighten(green, 60%)
    tr.selected > td:first-child
      box-shadow inset 2px 0 green, 2px 2px white

// --- input

input
  border none
  outline none
  padding 4px 12px
  font-size 14pt
  border-radius 2px
  box-shadow 0 0 0 2px white
  width 50pt
  &:focus
    box-shadow 0 0 0 2px green


#variables
  .header
    display inline-block
    width 90px
    font-size 14pt
  .button
    margin 5px
  .select
    display inline-block
    border-radius 5px
    box-shadow 0 0 0 2px white
    padding 0px 5px
    box-sizing border-box
    width calc(100% - 90px)
