
- var rand = function ( lo, hi ) {
-   return Math.floor(lo + Math.random() * (hi - lo))
- }

doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="./index.css")
  body
    section.section#grid
      header
        span Data Input
        span.small Start by inputting some data
        span.import.button.right Import CSV
      .help
      table
        - var cols = [1,2,3,4,5,6]
        - var rows = [1,2,3,4,5,6]
        thead
          tr
            each col in cols
              th(class=(col==2||col==5)?"selected":"")= "Part " + col
        tbody
          each row in rows
            tr(class=(row <= 4)?"selected":"")
              each col in cols
                td= rand(10, 100)
    section.section#rows
      header
        span Row Selection
        span.small Click and drag table rows or input data
      .help
      input(type="text" value="1")
      span.space -
      input(type="text" value="4")

    section.section#variables
      header
        span Variable Use
        span.small Decide which variables are relevant
      .help
      span.unused
        span.header Unused
        span.select
          each col in [1,3,4,6]
            span.button= "Part " + col
      hr
      .suggest
      span.used
        span.header Used
        span.select
          each col in [2,5]
            span.button= "Part " + col

    section.section#result
      header
        span Result
        span.small Applicable format for the data chosen
      .help
      span.big f(x) = a'x + a''x' + a'''x''...


