
tf-multiselect
  display inline-block
  position relative
  max-width 100%

  & > a.pill
    font-size 12pt
    background rgba(black, 0.1)
    box-shadow 0 0 0 2px rgba(black, 0.3)
    padding 1px 9px 1px 11px
    margin 4px
    border-radius 1000px
    transition 300ms
    cursor pointer
    user-select none
    display inline-block

    &:hover
      box-shadow 0 0 0 2px green
    &.active
      background green
      box-shadow 0 0 0 2px green
      color white
      &:hover
        box-shadow 0 0 0 2px rgba(black, 0.3)

  & > a.fa.fa-plus
    font-size 12pt
    width 5spx
    background rgba(black, 0.1)
    box-shadow 0 0 0 2px rgba(black, 0.3)
    padding 1px 8px
    margin 4px
    border-radius 1000px
    transition 300ms
    &.hide
      display none
    &:hover
    &:active
      color green

  & > input.custom
    cursor text
    font-size 12pt
    width 50px
    background rgba(black, 0.1)
    box-shadow 0 0 0 2px rgba(black, 0.3)
    padding 2px 12px
    margin 4px
    border-radius 1000px
    transition 300ms
    &.invalid
      box-shadow 0 0 2px red
    &.hide
      display none

