
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url("https://fonts.googleapis.com/css?family=Cookie")
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body
  margin 0
  size 100%
  font-size 16pt

body, input
  font-family "Muli", sans-serif

[hidden]
  display none

.button
  background green
  color white
  padding 6px 12px 5px
  font-size 12pt
  margin-right 10px
  margin-bottom 10px
  display inline-block
  cursor pointer
  border-radius 4px

a
  cursor pointer

table
  border-collapse collapse
  border-radius 3px
  & > thead > tr > th
  & > tbody > tr > td
    position relative
    box-shadow inset -1px -1px 0 0 #EEE

    &.static
      color #CCC
      padding 4px 10px
      text-align center
      font-size 12pt
  & > thead
    font-weight bold

input
  box-sizing border-box
  border-radius 0
  appearance none
  background transparent
  color black
  outline 0
  border 0
  margin 0
  padding 0
  text-align left
  font-size 1em
  line-height 1
  vertical-align middle
  display inline-block
  font-size 12pt
  & + label.placeholder
    absolute top 5px left 0
    z-index 10
    padding 6px 10px
    font-size 12pt
    line-height 1
    color #999
    pointer-events none
  &:focus + label.placeholder
    display none
