
span.button.warning(data-bind="click:clear_project")
  | Clear Project
span.button.warning(data-bind="click:clear_model")
  | Clear Model
span.button.export-dataset(data-bind="click:download_dataset")
  | Export Data
span.button.export-model(data-bind="click:download_model")
  | Export Project
