
tf-header
  color white
  background green
  position fixed
  size 100% header-height
  box-sizing border-box
  z-index 100000
  box-shadow 0 0 3px rgba(black, 0.3)

  .button
    background darken(green,10%)

  .title
    display inline-block
    font-size 25pt
    padding 12px 32px
    font-family "Cookie"
    color white

  .name
    box-shadow inset 1px 0 0 white
    padding-left 10px
    font-family "Cookie"
    font-size 18pt

  tf-loader
    hr, .small
      display none

