
span.title TaylorFit Response Surface Analysis - with stepwise Multivariate Polynomial Regression
// ko if:model
span.settings(data-bind="click:toggle_settings")
  span Settings
  a.fa.fa-cog
span.loader(data-bind="style:{width:model().progress() + '%'}")
// /ko
