
span.title TaylorFit
// ko if:model
span.button(data-bind="click:clear")
  | Start Over
tf-exporter(params="model:model")
span.name(data-bind="text:model().name")
a.fa.fa-bars.hamburger(data-bind="click:toggle_settings")
// /ko

