
tf-header
  color white
  background green
  position fixed
  size 100% header-height
  box-sizing border-box
  z-index 100000

  .title
    display block
    font-size 25pt
    padding 12px 32px
    font-family "Cookie"

