
tf-counter
  display inline-block
  position relative
  max-width 100%

  header
    & > span.title
      font-family "Anonymous Pro", sans-serif
      font-size 14pt

  & > div.chevrons
    color #333
    display inline-block
    border-radius 100%
    padding 2px 4px
    cursor pointer
    user-select none

    & > a
      transition 300ms
      &:hover
        text-shadow 2px 0 0 green, -2px 0 0 green,
         0 2px 0 green, 0 -2px 0 green
      &:active
        color green
      &.disable
        color #EEE
        text-shadow none
        cursor not-allowed

  & > a.counter
    font-size 12pt
    padding 2px 12px
    margin 4px
    border-radius 1000px
    transition 300ms
    cursor pointer
    user-select none
    color white
    background green


