
tf-counter
  display inline-block
  position relative
  max-width 100%

  & > .unit
    display block
    white-space nowrap

    & > div.chevrons
      color #333
      display inline-block
      border-radius 100%
      padding 2px 4px
      cursor pointer
      user-select none
      position relative

      & > a
        transition 300ms
        font-size 12pt
        &.fa-chevron-up
          position relative
          top -5px
          right 0
        &.fa-chevron-down
          position absolute
          right 4px
          top 12px

        &:hover
          text-shadow 2px 0 0 green, -2px 0 0 green,
           0 2px 0 green, 0 -2px 0 green
        &:active
          color green
        &.disable
          color #CCC
          text-shadow none
          cursor not-allowed

    & > a.counter
      font-size 12pt
      padding 2px 10px 2px 12px
      margin 4px
      margin-right 0
      border-radius 1000px
      transition 300ms
      cursor pointer
      user-select none
      background green
      color white


