
tf-replace
  display inline-block
  & > *
    display inline-block
  & > .button
    background blue
    color white
    padding 2px 12px
    border-radius 2px
    font-size 12pt
    margin-left 10px