
tf-content
  position relative
  display block
  color black
  size 100%
  padding-top header-height
  box-sizing border-box
  background white

  & > span.wrapper
    size 100%
    display block
    overflow hidden
    position relative

    & >.loader
      size 100%
      display block
      padding 30px
      box-sizing border-box
      text-align center

      .button
        font-size 18pt
        padding 40px
        min-width 240px
        text-align center
        background green
        margin 15px
        &.input-model
          background blue
        &.output-manual
          background purple
        & > hr
          border 1px solid white
        & > .small
          font-size 12pt


    .options
    .data
    .model
      padding 20px
      box-sizing border-box
      display block

    .options
      float right
      text-align right
      overflow hidden

    .data
      float left

    // control min sizes
    .model
      min-height 130px
    .split-data
      max-height calc(100% - 130px)

    .options
    .data
      min-width 300px
      max-width calc(100% - 300px)

