
span.wrapper
  // ko ifnot:model
  span.loader
    tf-loader(params="model:model")
  // /ko
  // ko if:model
  span.options
    tf-options(params="model:model")
  span.grid
    tf-grid(params="model:model")
  span.model
  // /ko

