
span.options(data-bind="style:{width:'calc(100% - ' + pane1() + 'px)'}")
  tf-counter(params="name:'Multiplicands',values:multiplicands")
  tf-pills(params="name:'Exponents',values:exponents,style:'check'")
  div.candidates
    header
      span.title Candidates
    // ko foreach: candidates
    span.candidate
      // ko foreach: $data
      | x
      sub(data-bind="text:$data[0]")
      sup(data-bind="text:$data[1]")
      // /ko
    // /ko
span.resize(data-bind="event:{drag:pane1drag}")
span.grid(data-bind="style:{width:'calc(' + pane1() + 'px - 5px)'}")
  tf-grid

