
span.options(data-bind="style:{width:100 - pane1() + '%'},css:{hidden:!loaded()},event:{mouseover:hover('option')}")
  tf-counter(params="name:'Multiplicands',value:multiplicands,max:9")
  tf-pills(params="name:'Exponents',values:exponents,style:'check'")
  div.candidates
    header
      span.title Candidates
    // ko foreach: candidates
    span.candidate
      // ko foreach: $data
      | x
      sub(data-bind="text:$data[0]")
      sup(data-bind="text:$data[1]")
      // /ko
    // /ko
span.resize(data-bind="event:{drag:pane1drag},css:{hidden:!loaded()}")
span.grid(data-bind="style:{width:'calc(' + pane1() + '% - 5px)'},event:{mouseover:hover('grid')}")
  tf-grid(params="loaded:loaded, dependent:dependent, rows:rows")

