
span.wrapper
  // ko ifnot:model
  span.loader
    tf-loader(params="model:model")
  // /ko
  // ko if:model
  .split-model(data-bind="split:{direction:'vertical'}")
    .model
      tf-result(params="model:model")
    .split-data(data-bind="split:{direction:'horizontal'}")
      .data
        tf-grid(params="model:model")
      .options
        tf-options(params="model:model")
  // /ko

