
// ko if:model
tf-hamburger(params="model:model")
// /ko
span.wrapper
  // ko ifnot:model
  span.loader
    tf-loader(params="model:model,table:'training',init:true")
  // /ko
  // ko if:model
  .split-model(data-bind="split:{direction:'vertical'}")
    .model
      tf-result(params="model:model")
    .split-data(data-bind="split:{direction:'horizontal'}")
      .data
        span.title Training Data
        tf-grid(params="model:model,table:'training'")

        // ko ifnot:model().test
        tf-loader(params="model:model,table:'test'")
        // /ko
        // ko if:model().test
        span.title Test Data
        tf-grid(params="model:model,table:'test'")
        // /ko

        // ko ifnot:model().validation
        tf-loader(params="model:model,table:'validation'")
        // /ko
        // ko if:model().validation
        span.title Validation Data
        tf-grid(params="model:model,table:'validation'")
        // /ko

        span.buffer

      .options
        tf-options(params="model:model")
  // /ko

