
tf-content
  position relative
  display block
  color black
  min-height 100%

  .resize
    display inline-block
    width 5px
    background #DDD
    height 100vh
    z-index 1000

  & > .options
  & > .grid
    transition width 1s
    padding 20px
    padding-top header-height + 20px
    box-sizing border-box
    height 100%
    min-width 300px
    max-width calc(100% - 306px) !important
    display block
    background white
    overflow auto

  & > .options
    width 30%
    float right
    text-align right

  & > .grid
    width calc(70% - 3px)
    float left
    //box-shadow 1px 0 0 #CCC

  table.candidates

    padding-bottom 10px
    margin-bottom 10px
    float right

    th
      text-align right
      font-size 12pt
      box-shadow none
      text-transform uppercase
      &:first-child
        text-align left

    tr.candidate
      font-size 12pt
      border-radius 10px
      text-align left

      td
        padding 4px 6px
        box-shadow none

      & > td.term
        & > .name
          &:before
            content "("
          &:after
            content ")"
      & > td.stat
        text-align right

      sub, sup
        font-family "Muli"
        font-size 8pt

  & > .hidden
    display none

