
tf-dropdown
  position relative
  overflow visible
  font-size 12px

  .dropdown-arrow
    color #CCC
    display inline-block
    border-radius 100%
    padding 2px 4px
    cursor pointer
    user-select none

  .dropdown-content
    z-index 1000000
    display none
    position absolute
    top 24px
    left 10px
    transform translateX(-50%)
    background white
    border-radius 5px
    box-shadow 0 0 0 1px #CCC, 1px 1px 5px rgba(black, 0.3)
    text-align left
    & > *
      white-space nowrap

  &.align-left
    .dropdown-content
      transform translateX(0%)
  &.align-right
    .dropdown-content
      transform translateX(-100%)
