.background(data-bind="css:{active:active}, click:close")
.qqplot(data-bind="css:{active:active}")
  span.title(data-bind="text: column_name() + ' QQ Plot'")
  a.download(data-bind="click:download") Download
  <div id="qqplot" data-bind="html: charthtml"></div>