
tf-pills
  .exponents
    padding-bottom 10px
  button
    text-decoration none
    background #DDDDDD
    color black
    font-size 12px
    font-weight bold
    line-height 32px
    height auto
    display inline-block
    text-align center
    height 35px
    width 35px
    text-align center
    margin-right 3px
  .active
    background green
    color white
  input
  	display inline
  	margin 0
  	font-size 18px
  	appearance none
  	box-shadow none
  	border-radius none
  	border solid 1px #707070

