
span.title(data-bind="text: name()")
// ko foreach: pills
a.pill(data-bind="text: $data.val, click: $parent.clicked, css: $data.class")
// /ko
//- TODO: enforce min and max through keypress
input.custom(type="number" placeholder="Custom..."
min="-255" max="255" data-bind="textInput: input, event: {keypress: add}")

