

header
  span.title(data-bind="text:name")
  span.subtitle(data-bind="text:ko.unwrap(style)==='radio'?'Select One':'Select Many'")
//- TODO: enforce min and max through keypress
input.custom(type="number" placeholder="Custom..."
data-bind="textInput:input,event:{change:add},css:{invalid:invalid}")

//- TODO: replace with each binding
// ko foreach: Object.keys(values()).sort(function(a,b){return Number(b)<Number(a)})
a.pill(data-bind="text:$data,css:{active:$parent.values()[$data]},event:{click:$parent.toggle,dblclick:$parent.delete}")
// /ko

