
tf-pills
  margin-bottom 10px
  padding-bottom 10px
  display inline-block
  border-bottom 1px solid #DDD

  & > span.title
    color #999
    margin-right 10px

  & > a.pill
    font-size 12pt
    color black
    background #DDD
    padding 2px 12px
    margin 0 4px
    border-radius 1000px
    transition 300ms
    cursor pointer
    &.active
      color white
      background green

  & > input.custom
    margin-left 10px
    cursor text
    width 100px

