
// ko if:hasFirst
span.first(data-bind="click:first") 1
// /ko

// ko if:hasPrev
span.prev.fa.fa-angle-left(data-bind="click:prev")
// /ko

// ko foreach:range
span.page(data-bind="text:1 + $data,css:{selected:$parent.current()==$data},click:function(){$parent.goto($data)}")
// /ko

// ko if:hasNext
span.next.fa.fa-angle-right(data-bind="click:next")
// /ko

// ko if:hasLast
span.last(data-bind="click:last,text:length")
// /ko
