
tf-pager

  & > span
    font-size 12pt !important
    background #EEE
    padding 2px 3px 2px 4px
    cursor pointer
    margin 0 2px
    border-radius 2px

    &.selected
      background green
      color white
