
tf-split-border = rgba(black, 0.1)

[tf-split]
  position relative
  display inline-block
  size 100%

  & > *:nth-child(1)
  & > *:nth-child(2)
    transition width 300ms, height 300ms, max-height 300ms
    // bounce
    // transition-timing-function cubic-bezier(0.175, 0.885, 0.32, 1.275)
    // sine
    // transition-timing-function cubic-bezier(0.445, 0.05, 0.55, 0.95)
    // cubic
    transition-timing-function cubic-bezier(0.645, 0.045, 0.355, 1)
    position absolute
    display inline-block
    box-sizing border-box
    overflow auto
    size 50%
    white-space nowrap

  &[direction="horizontal"]
    & > *:nth-child(1)
      box-shadow 2px 0 0 tf-split-border
      left 0
    & > *:nth-child(2)
      box-shadow -2px 0 0 tf-split-border
      right 0
    & > *:nth-child(1)
    & > *:nth-child(2)
      height 100%
      &[hover="true"]
        width 80%
      &[hover="false"]
        width 20%

  &[direction="vertical"]
    & > *:nth-child(1)
      box-shadow 0 2px 0 tf-split-border
      top 0
    & > *:nth-child(2)
      box-shadow 0 -2px 0 tf-split-border
      bottom 0
    & > *:nth-child(1)
      width 100%
      &[hover="true"]
        height 80%
      &[hover="false"]
        height 20%
    & > *:nth-child(2)
      width 100%
      &[hover="true"]
        max-height 80%
        height auto
      &[hover="false"]
        max-height 20%
        height auto
