tf-candidates
  position relative
  display block
  size 100%
  overflow hidden
  overflow-y scroll

  .wrapper
    overflow hidden
    position absolute
    right 10px
    width 100%

  p
    display inline-block
    font-size 11pt
    white-space initial
    text-align left
    border 1px solid #e69834
    border-radius 5px
    padding 5px
    background #fff7ed
    margin-left 20px


  tf-pager
  header
    display inline-block
    margin-left 16px
    margin-bottom 10px
    float right

  .stat
    &.green
      background rgba(green, 0.3)

  .candidate-wrapper
    position relative
    height 100%
    overflow hidden
    clear both

    &:before
      content ""
      display block
      width 100%
      height 28px
      background rgba(white, 0.9)
      box-shadow 0 1px 0 0 rgba(black, 0.5)
      position absolute
      top 0 left 0
      margin-left 20px

    & > table.candidates
      box-sizing border-box
      display block
      overflow-y auto
      overflow-x hidden
      height calc(100% - 32px)
      float right
      white-space nowrap

      thead
        top 0
        background white
        z-index 10
        height 18px

      td, th
        padding 4px 6px
        height 28px
        box-sizing border-box

      th
        text-align right
        font-size 12pt
        .fixing
          cursor pointer
          .fa-sort
            position absolute
            right -10px
            top 5px
            color grey

        & > div
          margin 0 auto
          width 0

          & > div
            absolute top 0
            line-height 1.7
            transform translateX(-50%)
            text-align center
        &:first-child
          text-align left

      tr.candidate
        font-size 12pt
        text-align left
        transition background 300ms
        cursor pointer
        overflow hidden
        &:not(.current):hover
          background rgba(green, 0.3)
          box-shadow inset 0 0 0 2px green
        &.selected
          background green
          color white
        &.current
          background #ddd
          border-bottom 1px solid #ccc

        & > td.term
          box-shadow inset -1px -1px 0 #EEE, inset 1px 0 0 #EEE
          & > .name
            &:before
              content "("
            &:after
              content ")"
        & > td.stat
          text-align right

        sub, sup
          font-family "Muli"
          font-size 8pt
