.background(data-bind="css:{active:active}, click:close")
.transform(data-bind="css:{active:active}")
  p(text="Transform Column")
  div.option-wrapper
    button.option(
      data-bind="click:function(){transform_log(transform_index())}"
    ) Log
    button.option(
      data-bind="click:function(){k_order_diff(transform_index())}"
    ) K-Order Difference
    button.option(
      data-bind="click:function(){standardize(transform_index())}"
    ) Standardize
    button.option(
      data-bind="click:function(){rescale(transform_index())}"
    ) Rescale
