
tf-loader
  display inline-block
  & > *
    display inline-block
  & > .button
    text-transform capitalize
    margin-right 10px
    text-decoration none

  .blurb
    font-size 15px
    text-align left
    padding 0px 15px
    border-radius 5px
    border 1px solid #28af60
    background #f3fff8
    margin 20px 15px