
input(type="file" accept=".csv" hidden
  data-bind="attr:{id:id},value:dataset")
label.button.input-dataset(data-bind="attr:{for:id}")
  span
    | Import&nbsp;
    span(data-bind="text:table")
    | &nbsp;Data
  hr
  span.small Upload CSV data to begin!
// ko if: init
input#input-model(type="file" accept=".json,.tf" data-bind="value:model" hidden)
label.button.input-model(for="input-model")
  span Import Project
  hr
  span.small Already have a project?
a.button.output-manual(href="resources/TaylorFit Manual 2017.pdf" target="window")
  span Open Users' Manual
  hr
  span.small Click to Download
a.button.info(href="http://www.simetrica-llc.com" target="window")
  span Simetrica LLC.
  hr
  span.small For More Information
a.button.example-1(href="resources/auto-mpg.csv" target="window")
  span Auto MPG
  hr
  span.small Download Example Data
a.button.example-2(href="resources/lydpink-time-series.csv" target="window")
  span Lydia Pinkham
  hr
  span.small Download Example Data
// /ko

