
input(type="file" accept=".csv" hidden
  data-bind="attr:{id:id},value:dataset")
label.button.input-dataset(data-bind="attr:{for:id}")
  span
    | Import&nbsp;
    span(data-bind="text:table")
    | &nbsp;Data
  hr
  span.small Upload CSV data to begin!
// ko if: init
input#input-model(type="file" accept=".json,.tf" data-bind="value:model" hidden)
label.button.input-model(for="input-model")
  span Import Project
  hr
  span.small Already have a project?
label.button.output-manual
  span Download Manual
  hr
  span.small Coming Soon
// /ko

