
.questions(data-bind="css:{active:active}")
  span.title Settings
  span.statlist
    header
      span.title Display Statistics
    // ko foreach:allstats
    // ko if:!global && sort
    div.stat(data-bind="text:name,css:{selected:selected},\
    click:function(){selected(!selected())}")
    // /ko
    // /ko
  tf-counter.multiplicands(params="name:'Max No. of Multiplicands',value:multiplicands,max:max_multiplicands")
  tf-multiselect.exponents(params="name:'Exponents',values:exponents,fixed:['1']")
  tf-multiselect.lags(params="name:'Lags',values:lags")

  tf-checkbox(params="name:'Subscribe to Changes',value:subscribedToChanges")
  tf-counter(params="name:'Precision',value:ko.precision,min:1,max:9")
  
  span.button.warning(data-bind="click:clear_project")
    | Clear Project
  span.button.warning(data-bind="click:clear_model")
    | Clear Model
  //span.button.export-dataset(data-bind="click:download_dataset")
  //  | Export Data
  span.button.export-model(data-bind="click:download_model")
    | Export Project
  a.button.info(href="http://www.simetrica-llc.com" target="window")
    | Info: Simetrica LLC.
