
.questions(data-bind="css:{active:active}")
  span.title Settings
  span.statlist
    header
      span.title Display Statistics
    // ko each:stats
    div.stat(data-bind="text:$key,css:{selected:$value},\
    click:function(){$value(!$value())}")
    // /ko
  tf-counter.multiplicands(params="name:'Max No. of Multiplicands',value:multiplicands,max:9")
  tf-pills.exponents(params="name:'Exponents',values:exponents,style:'check'")

  tf-exporter(params="model:model")
