
a.fa.fa-bars(data-bind="click:clicked")
.questions(data-bind="css:{inactive:inactive}")
  span.statlist
    // ko each:stats
    div.stat(data-bind="text:$key,css:{selected:$value},\
    click:function(){$value(!$value())}")
    // /ko
  tf-counter.multiplicands(params="name:'Maximum No. of Multiplicands',value:multiplicands,max:9")
  tf-pills.exponents(params="name:'Exponents',values:exponents,style:'check'")
