// ko if:result
.table-wrapper
  table.terms
    thead
      tr
        th Term
        // ko foreach: _.entries(result().terms[0].stats)
        th(data-bind="text:(allstats().find((x) => x.id === $data[0]) || {name:null}).name")
        // /ko
    tbody
      // ko foreach: result().terms
      tr
        td.term
          span.remove.fa.fa-close(data-bind="click:function(){selected(true)}")
          span.operator(data-bind="text:coeff<0?'-':'+'")
          span.coeff(data-bind="num:Math.abs(coeff)")
          // ko foreach:term
          // ko if:exp
          span.name
            span.lparen (
            span(data-bind="text:name||'x'")
            // ko ifnot:name
            sub(data-bind="text:index")
            // /ko
            // ko if:exp !== 1
            sup(data-bind="text:exp")
            // /ko
            span.rparen )
          // /ko
          // /ko
        // ko foreach: _.entries(stats)
        td.stat
          span.value(data-bind="num:$data[1]")
        // /ko
      // /ko

.table-wrapper
  table.stats
    thead
      tr
        th Stat
        th Fit
    tbody
      // ko with:{stats:result().stats}
      // ko foreach:allstats
      // ko ifnot:candidate
      tr.stat
        td.name(data-bind="text:name")
        td.value(data-bind="num:$parent.stats[id], fmt: format")
      // /ko
      // /ko
      // /ko

.table-wrapper
  tf-graph(params="data:graphdata,ylabel:'Residuals',xlabel:'Predicted Values'")

// /ko
// ko ifnot:result
span.nomodel Select candidate terms to create a model.
// /ko

