// ko if:result
.table-wrapper
  table.terms
    thead
      tr
        th
        th
        // ko foreach: result().terms[0].stats
        th(data-bind="text:name")
        // /ko
    tbody
      // ko foreach: result().terms
      tr
        td.control
          span.remove.fa.fa-close(data-bind="click:function(){selected(true)}")
        td.term
          span.operator(data-bind="text:coeff<0?'-':'+'")
          span.coeff(data-bind="num:Math.abs(coeff)")
          // ko foreach:term
          // ko if:exp
          span.name
            span(data-bind="text:name||'x'")
            // ko ifnot:name
            sub(data-bind="text:index")
            // /ko
            // ko if:exp !== 1
            sup(data-bind="text:exp")
            // /ko
          // /ko
          // /ko
        // ko foreach:stats
        td.stat
          span.value(data-bind="num:value")
        // /ko
      // /ko

.table-wrapper
  table.stats
    tbody
      // ko foreach:result().stats
      // ko if:"number" === typeof value
      tr.stat
        td.name(data-bind="text:name")
        td.value(data-bind="num:value")
      // /ko
      // /ko

.table-wrapper
  span.graphs
    span.title Graphs
    hr
    span.subtitle Coming Soon

// /ko
// ko ifnot:result
span.nomodel Select candidate terms to create a model.
// /ko

